<%include header%>

<div class="container">
  <div class="section">
    <h1><%- title %></h1>
  </div>
  <div class="divider"></div>
  <div class="section">
    <h2><%=article.title%></h2>
    <h3><%=article.text%></h3>
  </div>
  <div class="divider"></div>
  <div class="section">
    <img class="responsive-img" src="<%=article.image%>" alt="">
  </div>
</div>
<%include footer%>
